.root {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.formatedTextArea {
  width: 100%;
  max-width: 900px;
  overflow: auto;
}
