.root {
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  padding: 0px 16px;
  margin: 2px 10px;
  border-radius: 32px;
  width: fit-content;
  max-width: calc(100% - 64px);
}

code[class*='language-'] {
  color: rgb(137, 3, 174);
}

.ai {
  margin-right: 32px;
  background-color: rgba(162, 0, 168, 0.95);
}

.human {
  align-self: end;
  margin-left: 32px;
  background-color: rgba(14, 132, 136, 0.95);
}
