.root {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 5px;
  font-size: 16px;
  overflow: auto;
  padding: 0px;
}

code[class*='language-'] {
  color: rgb(137, 3, 174);
}
