.root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #9e3abf 50%,
      rgba(255, 255, 255, 0) 100%
    )
    1 / 2px stretch;
  margin: 4px;
}

.selected {
  background-color: rgb(64, 191, 21);
}
.dropzone {
  display: flex;
  flex-direction: column;
  height: 100%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  margin: 5px;
}
