@import '../hero/hero.module';

.root {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-width: 310px;
}


.dD {
    @extend .dD;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
}

@media (max-width: 767px) {
    .root {
        display: none;
    }
}
