.hero {
  display: flex;
  flex-direction: column;
  margin: auto;

  .mainTitle {
    color: #3f1432;
    font-family: 'Roboto', Helvetica;
    font-size: 48px;
    font-weight: 800;
  }

  .secondaryTitle {
    color: #3f1432;
    font-family: 'Roboto', Helvetica;
    font-size: 48px;
  }

  .description {
    color: #3f1432;
    font-family: 'Roboto', Helvetica;
    font-size: 24px;
  }

  .dD {
    background-color: #e0cfde80;
    border: 8px solid;
    border-color: #e0cfde80;
    border-radius: 24px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;
    &:hover {
      transform: scale(1.01);
      box-shadow: 2.83px 2.83px 2px #06071480;
    }
  }

  .dDText {
    color: #3f1432;
    font-family: 'Roboto', Helvetica;
    font-size: 24px;
    text-align: center;
    margin: 50px;
  }
  padding: 10px;
  max-width: 1120px;
}

@media (max-width: 767px) {
  .hero {
    align-items: center;
    text-align: center;
  }
}
