@import '../dropzone/dropzone.module';

.root {
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding: 8px;
    width: calc(100% - 20px);
    max-width: 100vw;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    align-self: center;
}

.dropzoneArea {
    display: flex;
    flex-direction: column;
}

.resetButton {
    width: fit-content;
    background-image: url(../../assets/reset_files_icon.png);
    width: 300px;
    max-height: 40px;
    aspect-ratio: 4 / 3;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-attachment: scroll;

    transition: all 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.dropzoneLong {
    @extend .dropzone;
    flex-direction: column;
    display: flex;
    height: 100%;
    max-width: 300px;
    margin: 5px;
}

@media (max-width: 1250px) {
    .dropzoneArea {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        border-radius: 32px;
        background-color: rgba(233, 233, 233, 0.25);
    }
    
    .hidden {
        display: none;
    }
}
