.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: auto;

  background-image: url('./assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

.emptyTopArea {
  min-height: calc(50vw - 600px);
}

.emptyMiddleArea {
  min-height: 100vh;
  max-height: 100vh;
}
