.root {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 0px;
  margin: 0% 20%;
}

.inputarea {
  resize: none;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0);
  margin: 5px;
  height: 100px;
  font-size: 16px;
}
