.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
}

.inputarea {
  resize: none;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  margin: 12px;
  width: 100%;
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
}
